<html>
<h1>Edit a Job</h1>

<%= form_for [@company, @job] do |f| %>
  <ul>
  <% @job.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :level_of_interest %><br />
    <%= f.text_field :level_of_interest %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</html>
