<% if @company %>
<header>
  <h1>
    All Jobs for 
      <strong><%= @company.name %></strong>
  </h1>
</header>
<% else %>
<header>
  <h1>
    Jobs:
  </h1>
</header>
<% end %>

<content>
  <% @jobs.each do |job| %>
    <ul>
    
      <h3>
        <%= job.title %> at <%= job.company.name %>
      </h3>

      <p>
        City: <%= job.city %> 
      </p>

      <p>
        Level of Interest: <%= job.level_of_interest %> 
      </p>

    </ul>
  <% end %>
</content>