<header>
  <h1>
    <%= @job.title %> at <%= link_to @job.company.name, company_path(@job.company) %>
  </h1>
  <% if @company %>
    <%= link_to 'Edit', edit_company_job_path(@company) %>
    <%= link_to "Delete", company_job_path(@company, @job), method: :delete%>
  <% else %>
    <%= link_to 'Edit', edit_job_path(@job) %>
    <%= link_to "Delete", job_path(@job), method: :delete%>
  <% end %>
  <%= link_to  "See Other #{@category} Jobs", category_path(@category) %>
  <p>Location: <%= @job.city %></p>
  <p>Description: <%= @job.description %></p>
  <p>Level of Interest: <%= @job.level_of_interest %></p>

  <%= render partial: "comment" %>
</header>

<content>
  <ul>
    <% @comments.each do |comment| %>
    <li>
      <%= comment.created_at %>
      <%= comment.content %>
      </li>
    <%end%>
  </ul>
</content>
