<header>
  <h3>
    Companies
  </h3>
  <%= link_to  "Create A New Company", new_company_path %>
</header>
<content>
  <ul>
    <% @companies.each do |company| %>
    <li class=company_<%= company.id %>>
      <%= link_to company.name, company_path(company) %>: 
      <%= link_to "Edit", edit_company_path(company) %>
      <%= link_to "Delete", company_path(company), method: "delete" %>
    </li>
    <% end %>
  </ul>
</content>