<header>
  <h1>
    All Jobs for <strong><%= @company.name %></strong>
  </h1
</header>
<content>
  <ul>
    <% @company.jobs.each do |job| %>
      <li><%= job.title %></li>
    <% end %>
  </ul>
</content>

<aside>
  <%= render partial: "contact" %>

  <h3>
    Existing Contacts:
  </h3>
  <ul>
  <% @contacts.each do |contact| %>
    <li>
      <%= contact.full_name %>
      <%= contact.position %>
      <%= contact.email %>
    </li>
  <% end %>
  </ul>
<aside>